<form action="/page/createInbox" method="post">
    <div>
        <input id="content" name="content" type="text" />
    </div>

    <div class="datefield">
        <input id="dateInbox" name="created" type="text" value="" />
        <button id="showDateInbox" title="Show Calendar" type="button">
            <img alt="Calendar" height="18" src="/yui/2.9.0/assets/calbtn.gif" width="18" />
        </button>
    </div>
    <div>
        <input id="submit" name="submit" type="submit" value="Add" />
    </div>
</form>


