<%inherit file="/base/index.html"/>
<div id="scheduled">
% for project in c.scheduled:
    % if project.name == 'next':
        <ul>
            % for task in project.tasks:
                % if task.scheduled is not None and (task.state == 'active' or task.state == 'waiting'):
                    <li>
                        <%namespace name="comp" file="/derived/page/task_view.html" name="taskView" import="*"/>
                        ${taskView.body(task, project.realm_id)}
                    </li>
                % endif
            % endfor
        </ul>
    % endif
% endfor

% for project in c.scheduled:
    % if project.name != 'next':
        <a href="${(h.url_for(controller='page', action='project', id=project.id))}" ><h3>${project.name}</h3></a>
        <ul>
            % for task in project.tasks:
                % if task.scheduled is not None and (task.state == 'active' or task.state == 'waiting'):
                    <li>
                        <%namespace name="comp" file="/derived/page/task_view.html" name="taskView" import="*"/>
                        ${taskView.body(task, project.realm_id)}
                    </li>
                % endif
            % endfor
        </ul>
    % endif
% endfor
</div>