<%inherit file="/base/index.html"/>
<%!import mygtd.lib.gtdlib as l%>
<div>

% for couple in c.specificTasks['inboxCouple']:
<%
    task = couple[0]
    realm_id = couple[1]
%>
<li>
    <%namespace name="comp" file="/derived/page/task_view.html" name="taskView" import="*"/>
    ${taskView.body(task,realm_id)}
</li>
% endfor
<br/>
% for couple in c.specificTasks['otherProjectsCouple']:
<%
    project = couple[0]
    selectedIds = couple[1]
%>
    <a href="${(h.url_for(controller='page', action='project', id=project.id))}" ><h3>${project.name}</h3></a>
        <ul>
            % for task_id in selectedIds:
                  <li>
                      <%namespace name="comp" file="/derived/page/task_view.html" name="taskView" import="*"/>
                      ${taskView.body(project.getTask(task_id), project.realm_id)}
                  </li>
            % endfor
        </ul>
% endfor


</div>